.filter {
  padding: 50px 15% 50px 15%;
}
.filter .container {
  display: flex;
  border-radius: 20px;
}
.filter .container .filter-type {
  flex: 1;
  position: relative;
  cursor: pointer;
}
.filter .container .filter-type .filter-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
.filter .container .filter-type p {
  font-size: 0.8rem;
}
.filter .container .filter-type h2 {
  font-size: 1.2rem;
}
.filter .container .filter-type .filter-absolute {
  position: absolute;
  left: 0px;
  top: 80px;
  z-index: 50;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.filter .container .filter-type .filter-absolute .filter-item {
  display: block;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
}
.filter .container .filter-type .filter-absolute .filter-item input {
  margin-right: 0.5rem;
}
.filter .container .filter-type .filter-none {
  display: none;
}
.filter .all-filter-close {
  position: absolute;
  width: 99vw;
  height: 99vh;
  top: 0px;
  left: 0px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 25;
}
.filter .all-filter-close-none {
  display: none;
}
.filter.light {
  background-color: #0099ff;
}
.filter.light .container {
  background-color: white;
  box-shadow: 0px 10px 10px #005a96;
}
.filter.light .container .filter-type p {
  color: #494949;
}
.filter.light .container .filter-type h2 {
  color: #444444;
}
.filter.light .container .filter-type .filter-icon {
  color: #444444;
}
.filter.light .container .filter-type .filter-absolute {
  background-color: white;
  border: 1px solid #c0c0c0;
  box-shadow: 0px 5px 10px rgba(36, 36, 36, 0.404);
}
.filter.light .container .filter-type .filter-absolute .filter-item:hover {
  background-color: rgba(223, 223, 223, 0.171);
}
.filter.dark {
  background-color: #292929;
}
.filter.dark .container {
  background-color: white;
  box-shadow: 0px 10px 10px #1a1a1a;
}
.filter.dark .container .filter-type p {
  color: #494949;
}
.filter.dark .container .filter-type h2 {
  color: #444444;
}
.filter.dark .container .filter-type .filter-icon {
  color: #444444;
}
.filter.dark .container .filter-type .filter-absolute {
  background-color: white;
  border: 1px solid #c0c0c0;
  box-shadow: 0px 5px 10px rgba(36, 36, 36, 0.404);
}
.filter.dark .container .filter-type .filter-absolute .filter-item:hover {
  background-color: rgba(223, 223, 223, 0.171);
}
@media screen and (max-width: 1024px) {
  .filter .container .filter-type p {
    font-size: 0.7rem;
  }
  .filter .container .filter-type h2 {
    font-size: 1rem;
    color: #444444;
  }
}
@media screen and (max-width: 768px) {
  .filter {
    padding: 30px 0% 50px 0%;
  }
  .filter .container {
    flex-direction: column;
    border-radius: 0px;
  }
  .filter .container .filter-type {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
  }
  .filter .container .filter-type .filter-name {
    width: 100%;
    padding: 10px 20px;
  }
  .filter .container .filter-type p {
    font-size: 0.8rem;
    color: #494949;
  }
  .filter .container .filter-type h2 {
    font-size: 1.2rem;
    color: #444444;
  }
  .filter .container .filter-type .filter-absolute {
    position: relative;
    left: 0px;
    top: 0px;
    padding: 0px 30px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px transparent;
  }
  .filter .container .filter-type .filter-none {
    display: none;
  }
}
